<h3><i class="fa-sharp fa-solid fa-people-arrows"></i> Indulgence </h3>
<div class="section">
    <p class="lead">Create a record of your self-indulgence vs. self-care habits</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>