<h3><i class="fa-sharp fa-solid fa-people-arrows"></i> Indulgence </h3>
<div class="section">
    <p class="lead">Create a record of your self-indulgence vs. self-care habits</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
    <p class="lead"> Or </p>
    <form action="/dashboard" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>